/* CSS presets */
* {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

/* Clearfix */
.group:after {
  content: "";
  clear: both;
  display: block;
}

.container {
  height: 100vh;
  position: relative;
}

nav {
  height: 60px;
  background-color: #ffffff;
  padding: 0 65.7px;
}

.logo {
  float: left;
  padding: 17.2px 65.5px 19.3px 0;
}

.nav-tabs {
  list-style: none;
  float: left;
  border-left: 1px solid #dddddd;
}

.nav-tab {
  float: left;
  padding: 22px 23.5px;
  font-family: HelveticaNeue;
	font-size: 14px;
	color: #00a4c7;
  border-right: 1px solid #dddddd;
}

.nav-tab.selected {
  padding: 20px 23.5px;
  color: #333333;
  background-color: #f7f7f7;
  border-top: 4px solid #333333;
}

.nav-links {
  float: right;
  width: 98px;
	height: 16px;
	font-family: HelveticaNeue;
	font-size: 13px;
	text-align: right;
	color: #777777;
  padding-top: 13px;
  padding-bottom: 31px;
}

.user {
  float: right;
}

.user-name {
  float: left;
  width: 68px;
  height: 16px;
  font-family: HelveticaNeue;
  font-size: 13px;
  text-align: right;
  color: #777777;
  padding: 13px 8px 31px 32px;
}

.user-icon {
  float: left;
  padding-bottom: 34px;
  padding-top: 17px;
}

.spacer {
  height: 40px;
  background-color: #333333;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  font-family: HelveticaNeue;
	font-size: 20px;
	letter-spacing: -0.1px;
	color: #ffffff;
}

.dashboards-title {
  padding: 6px 0 9px 64px;
}

.main {
  min-height: calc(100% - 169px);
  min-height: -o-calc(100% - 169px); /* opera */
  min-height: -webkit-calc(100% - 169px); /* google, safari */
  min-height: -moz-calc(100% - 169px); /* firefox */
  background-color: #f7f7f7;
  padding-left: 65px;
  padding-right: 65px;
}

.dashboard-title {
  float: left;
}

.dashboard-title h1 {
  float: left;
  font-family: HelveticaNeue;
	font-size: 24px;
	letter-spacing: -0.1px;
	color: #333333;
  margin-top: 47px;
  margin-right: 10px;
}

.dashboard-title img {
  float: left;
  margin-top: 51px;
}

.dashboard-controls {
  float: right;
}

.dashboard-controls p {
  font-family: HelveticaNeue-Bold;
	font-size: 12px;
	letter-spacing: -0.1px;
	color: #333333;
}

.dashboard-switcher {
  float: left;
}

.dashboard-select {
  width: 200px;
	height: 30px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #bbbbbb;
}

.dashboard-select-option {
  float: left;
  font-family: HelveticaNeue;
	font-size: 14px;
	letter-spacing: -0.1px;
	color: #555555;
}

.dashboard-select img {
  float: right;
}

.new-widget-button {
  float: left;
  width: 188px;
	height: 30px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #bbbbbb;
  font-family: HelveticaNeue-Bold;
	font-size: 14px;
	text-align: center;
	color: #333333;
}

.rule {
  width: 1150px;
	height: 4px;
	background-color: #333333;
  margin: 21px auto 32px auto;
}

.new-widget {
  width: 168px;
	height: 168px;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.45);
	border: solid 1px #cccccc;
  font-family: HelveticaNeue-Bold;
	font-size: 14px;
	text-align: center;
	color: #333333;
}

.new-widget img {
  margin: 31.9px 49px 19.9px 49px;
}

.footer {
  padding: 0 65px;
  background-color: #f7f7f7;
}

.copyright {
  border-top
  padding-top: 15px;
  padding-bottom: 42px;
  font-family: HelveticaNeue;
	font-size: 11px;
	color: #777777;
  border-top: 1px solid #dddddd;
  padding-top: 15px;
}

/* Panel */

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color:
  overflow-y: hidden;
  max-height: 750px;
  background-color: #ffffff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	border: solid 1px #cccccc;
}

.panel.closed {
  max-height: 0;
}

.panel-header {
  padding-left: 64px;
  padding-right: 64px;
  height: 60px;
	background-color: #333333;
  font-family: HelveticaNeue-Bold;
	font-size: 20px;
	letter-spacing: -0.1px;
	color: #ffffff;
}

.panel-heading {
  float: left;
  margin-top: 17px;
}

.panel-header img {
  float: right;
  margin-top: 15px;
}

.panel-main {
  padding: 30px 64px 69px 64px;
}

.panel-type-selection {
  border-bottom: solid 1px #dddddd;
}

.panel-type-selection p {
  font-family: HelveticaNeue;
	font-size: 16px;
	letter-spacing: -0.1px;
	color: #333333;
  margin-bottom: 21px;
}

.widget-type {
  float: left;
  width: 266px;
	height: 200px;
	background-color: #f7f7f7;
	border: solid 1px #dddddd;
  margin-right: 26px;
  margin-bottom: 32px;
  text-align: center;
}

.widget-type:last-child {
  margin-right: 0;
}

.widget-type img {
  margin-top: 15px;
  margin-bottom: 15.2px;
}

.widget-name {
  padding-top: 11.6px;
  padding-bottom: 11.6px;
  font-family: HelveticaNeue;
	font-size: 14px;
	letter-spacing: -0.1px;
	text-align: center;
	color: #333333;
  border-bottom: 1px solid #dddddd;
}

.widget-sizes {
  list-style: none;
  border-top: 1px solid #dddddd;
}

.widget-sizes li {
  width: 88px;
  padding-top: 11px;
  padding-bottom: 11px;
  float: left;
  font-family: HelveticaNeue;
	font-size: 12px;
	letter-spacing: -0.1px;
	text-align: center;
	color: #00a4c7;
  border-right: 1px solid #dddddd;
}

.widget-sizes li:last-child {
  border-right: 0px;
}

.dashboard-header-selection {
  padding-top: 28px;
  padding-bottom: 31px;
  border-bottom: 1px solid #dddddd;
}

.dashboard-header-selection p {
  font-family: HelveticaNeue;
	font-size: 16px;
	letter-spacing: -0.1px;
	color: #333333;
  margin-bottom: 18px;
}

.dashboard-header-selection-label {
  font-family: HelveticaNeue;
	font-size: 12px;
	letter-spacing: -0.1px;
	color: #333333;
  margin-bottom: 10px;
}

.dashboard-header-selection-label strong {
  font-family: HelveticaNeue-Bold;
}

.dashboard-header-selection label {
  display: block;
}

.dashboard-header-selection input {
  width: 268px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #bbbbbb;
}

.dashboard-header-selection input.title {
  height: 30px;
  margin-bottom: 18px;
}

.dashboard-header-selection input.description {
  height: 60px;
}

.panel-options {
  padding-top: 31px;
}

.panel-options button {
  width: 120px;
	height: 30px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #bbbbbb;
  font-family: HelveticaNeue-Bold;
	font-size: 14px;
	text-align: center;
	color: #333333;
  margin-right: 30px;
}

.cancel {
  font-family: HelveticaNeue;
	font-size: 14px;
	color: #777777;
  text-decoration: underline;
  display: inline-block;
}
